*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar */
nav {
  min-height: 100px;
  background-color: #69247C;
  display: flex;
  align-items: center;
  color: white;
}

nav > img {
  width: 65px;
  margin-left: 20px;
}

nav > span {
  font-size: 1.5rem;
  margin-left: 10px;
}